*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-size: 1em;
    font-family:'Times New Roman', Times, fantasy;
    font-style: italic;
}

.brand{
    color: goldenrod;
}

.logo img{
    width: 70px;
    height: auto;
}

.carousel-inner, .carousel-inner img{
    height: 960px;
    object-fit: none;
    width: 100%;
}


